
.elements {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid darkgoldenrod;
    background-color: #eee;
}

/* Section One */
.square {
    background-color: purple;
    width: 30px;
    height: 10px;
    border-radius: 2rem;
    transform: translateX(-4rem);
    animation: first 1s infinite ;
}

@keyframes first {
    50%{
        background-color: orange;
        transform: translateX(4rem) scaleX(2);
    }

    100% {
        transform: translateX(-4rem);
    }
}

/*End Of Section One */

/* Section Two */
.worm {
    display: flex;
    flex-flow: row wrap !important;

}

.worm-part {
    transition: all 400ms;    
}

.worm-up {
    transform: translateY(-1rem);
    background-color: orange !important;
}

.worm-part  {
    background-color: purple;
    width: 10px;
    height: 10px;
}
/* End Of Section Two */

/* Section Three */
.drop {
    background-color: hotpink;
    height: 4rem;
    width: 4rem;
    border-radius: 50rem;
    animation: drop 1s infinite;
}

.drop-sm {
    background-color: hotpink;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    transform: scale(0);
    animation: drop-up 1s infinite;
}
@keyframes drop-up {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1) translateY(3rem);
    }
}

@keyframes drop {
    60%{
        transform: scale(1);
        background-color: hotpink;
    }
    70%{
        transform: scale(1.1);
        background-color: deeppink;
    }
    100%{
        transform: scale(1);

    }
}
/* End Of section three */

/* Section Four */
.clock {
    background-color: darkslateblue;
    width: 2rem;
    height: 2rem;
}

.clock:nth-child(1){
    transform: translateX(1rem);
    animation: clock1 infinite 1.5s;
}

.clock:nth-child(2){
    transform: translateX(-1rem);
    animation: clock infinite 1.5s;
}

@keyframes clock1 {
25% {
    transform: translateX(-1rem) rotate(45deg);
}

50% {
    transform: translateX(-1rem) translateY(2rem);
}

75%{
    transform: translateX(1rem) translateY(2rem);
}
}

@keyframes clock {
    25% {
        transform: translateX(1rem) ;
    }
    
    50% {
        transform: translateX(1rem) translateY(-2rem);
    }
    
    75%{
        transform: translateX(-1rem) translateY(-2rem) ;
    }
}
/* End Of Section Four */

/* Section Five */
.circle {
    background-color: red;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 100%;
}

.circle:nth-child(1){
    background-color: black;
    transform: translate(-1rem);
    animation: pendule-l 1s infinite;
}

.circle:nth-child(5){
    background-color: black;
    animation: pendule-r 1s infinite;
}

@keyframes pendule-r {
    25%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(1rem);
    }
    75%{
        transform: translateX(0);
    }
}

@keyframes pendule-l {
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(0);
    }

}

/* End Of Section Five */

/* Section Six */
.snake {
    background-color: #222;
    width: 10px;
    height: 10px;
    transform: translate(2rem, 2rem);
    animation: snake 2s infinite;
    transition: all 400ms;
}

@keyframes snake {
    0%{
        height: 10px;
        width: 10px;
    }
    12%{
        height: 3rem;
        width: 10px;
    }
    25%{
        width: 10px;
        height: 10px;
        transform: translateY(-2rem) translateX(2rem);
    }
    37%{
        height: 10px;
        width: 3rem;
    }
    50%{
        height: 10px;
        width: 10px;
        transform: translateY(-2rem) translateX(-2rem);
    }
    62%{
        width: 10px;
        height: 3rem;
    }
    75%{
        width: 10px;
        height: 10px;
        transform: translateY(2rem) translateX(-2rem);
    }
    87%{
        width: 3rem;
    }
}

/* End Of Section Six */
